.partner-card {
  border-radius: 10px;
  border: 1px solid #f2f0f8;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(185, 179, 216, 0.1);
  text-decoration: none;
  transition: all 0.25s;
}

.partner-title {
  color: #4f5f90;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.partner-card:hover {
  border: 1px solid #5690ff;
}
.partner-card:hover .partner-title {
  color: #5690ff;
}

.partner-completed {
  border-radius: 10px;
  border: 1px solid #5690ff;
  background: rgba(86, 144, 255, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(185, 179, 216, 0.1);
}

.partner-completed .partner-title {
  color: #5690ff !important;
}

.partner-reward-wrapper {
  border: 1px solid #5690ff;

  background: rgba(86, 144, 255, 0.1);
  border-radius: 5px;
  width: 80px;
}

.partner-reward-amount {
  color: #5690ff;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}
