.home-wrapper{
    background: #FCFCFE;
    height: calc(-64px + 100vh);
    background-size: 100% 100%;
    overflow-y: scroll;
}

.home-wrapper::-webkit-scrollbar {
    display: none;
  }


.score-wrapper{
border-radius: 10px;
background-size: 100% 100%;
border: 1px solid #F2F0F8;
background: #FFF;
}

.home-token{
position: absolute;
top: -25%;
}

.player-score{
    color: #46557B;
    font-size: 24px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.player-wod{
    color: #46557B;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-info-grid{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 10px;
}

.home-info-grid-item{
    border: 1px solid #F2F0F8;
border-radius: 10px;

    background: #FFF;
}

.home-grid-value{
    color: #46557B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.home-grid-info{
    color: #46557B;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 12px; /* 240% */
}






.show-more-button{
    border-radius: 10px;
border: 1px solid #46557B;
background: #FFF;
color: #46557B;
text-align: center;
font-size: 14px;
font-style: normal;
font-weight: 400;
line-height: 120%; /* 14.4px */
letter-spacing: 0.24px;
text-transform: capitalize;
position: absolute;
right: 0;
left: 0;
margin: auto;
width: fit-content;
}

.play-banner-wrapper{
    border-radius: 10px;
    position: relative;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.play-button{
    border-radius: 20px;
    background: linear-gradient(180deg, #5690FF 0%, #8C56FF 102.5%);
color: #FFF;
text-align: center;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: 120%; /* 16.8px */
letter-spacing: 0.28px;
text-transform: capitalize;
border: none;
position: absolute;
bottom: -20px;
left: 0;
right: 0;
margin: auto;
width: fit-content;
}