.friends-wrapper {
    height: calc(-64px + 100vh);
    overflow-y: scroll;
    background-size: 100% 100%;
    background: #FCFCFE;

  }



  .wod-friends{
    width: 50%;
  }

  .invite-friends-title{
    color: #46557B;
    font-size: 34px;
    font-style: normal;
    font-weight: 400;
    line-height: 123.725%; /* 39.592px */
    letter-spacing: 0.4px;
    text-align: center;
}


.invite-friends-button{
    background: #fff;
    border-radius: 100px;
    width: 100%;
    color: #46557B;
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 150% */
    letter-spacing: 0.4px;
    text-transform: capitalize;
    border-bottom: 5px solid #46557B;
    border-top: none;
    border-left: none;
    border-right: none;
}


.friends-list-title{
    color: #46557B;
    font-size: 18px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.friend-item{
border-bottom: 0.5px solid #46557B;
}

.friend-item:last-child{
    border-bottom: none;
}

.friend-initial-wrapper{
min-width: 28px;
min-height: 28px;
background: #46557B;
border-radius: 50%;
display: flex;
justify-content: center;
align-items: center;
}

.friend-initial{
    color: #FFF;
    text-align: center;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    text-transform: capitalize;
}

.friend-name{
    color: #46557B;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.friend-reward{
    color: #46557B;
    text-align: right;
    font-size: 12px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.friends-list-wrapper{
    height: 40%;
    overflow-y: scroll;
    border-radius: 10px;
border: 1px solid #F2F0F8;
background: #FFF;
padding: 10px;
}

@media screen and (max-height: 700px) {
    .wod-friends{
        width: 25%;
      }
}