.home-task-item{
    border-radius: 10px;
    border: 1px solid #F2F0F8;
    background: #FFF;
}

.home-task-name{
    color: #46557B;
    font-size: 14px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}
.home-task-reward{
    color: #B9B3D8;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.home-tasks-title{
    color: #46557B;
font-size: 18px;
font-style: normal;
font-weight: 800;
line-height: normal;
}


.completed-task{
    border: 1px solid #7037CA;
    background: rgba(112, 55, 202, 0.1);
}