.navbar{
    background: #fff;
    position: fixed;
    bottom: 0;
    z-index: 10;
    max-width: 425px;
}

.navbar-item{
    text-decoration: none;
    border-radius: 10px;
}





.navbar-span{
    color: #DFDCED;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px; /* 200% */
    letter-spacing: 0.4px;
}

.span-active{
    color: #3370E3 !important;
}