.leaderboard-wrapper {
  height: calc(-64px + 100vh);
  overflow-y: scroll;
  background-size: 100% 100%;
  background: #FCFCFE;
}

.leaderboard-wrapper::-webkit-scrollbar {
  display: none;
}

.leaderboard-main-title {
  color: #46557b;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.user-leaderboard-rank {
  border-radius: 10px;
  background: url('../../assets/userLeaderboardBg.svg');
  background-size: 100% 100%;
}

.user-name{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.user-score-amount{
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-rank{
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-holder {
  width: 32px;
  height: 32px;
  background: #5A96FF;
  border: 1px solid #fff;
  border-radius: 50%;
}

.name-initial {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.player-name {
  color: #4F5F90;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.player-score-amount {
  color: #5690FF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.player-rank {
  color: #4F5F90;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wod-total-holders {
  color: #46557b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-100 {
  color: #46557b;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leaderboard-item {
  border-bottom: 0.5px solid #46557b;
}

.leaderboard-item:last-child{
  border-bottom: none;
}

.players-leaderboard {
  border-radius: 20px;
  border: 1px solid #f2f0f8;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(125, 135, 50, 0.1);
  max-height: 75%;
  overflow-y: scroll;
}

@media screen and (max-height: 730px) {
  .players-leaderboard{
    max-height: 70%;
  }
}
@media screen and (max-height: 650px) {
  .players-leaderboard{
    max-height: 65%;
  }
}