.leaderboard-wrapper {
  height: calc(-64px + 100vh);
  overflow-y: scroll;
  background-size: 100% 100%;
  background: #FCFCFE;
}

.leaderboard-wrapper::-webkit-scrollbar {
  display: none;
}

.leaderboard-main-title {
  color: #46557b;
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.user-leaderboard-rank {
  border-radius: 10px;
  background: url('../../assets/userLeaderboardBg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}

.user-leaderboard-rank-weekly {
  border-radius: 10px;
  background: url('../../assets/userLeaderboardWeeklybg.svg');
  background-size: cover;
  background-repeat: no-repeat;
}


.user-name{
  color: #FFF;
  font-size: 14px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

.user-score-amount{
  color: #FFF;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.user-rank{
  color: #FFF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.name-holder {
  min-width: 32px;
  min-height: 32px;
  background: #5A96FF;
  border: 1px solid #fff;
  border-radius: 50%;
}

.name-holder-weekly {
  min-width: 32px;
  min-height: 32px;
  background: #388F76;
  border: 1px solid #fff;
  border-radius: 50%;
}

.name-initial {
  color: #fff;
  text-align: center;
  font-size: 16px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: capitalize;
}

.player-name {
  color: #4F5F90;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.player-score-amount {
  color: #5690FF;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.player-usdt-amount {
color: #388F76;
text-align: center;
font-size: 10px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.player-rank {
  color: #4F5F90;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.wod-total-holders {
  color: #46557b;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.top-100 {
  color: #46557b;
  text-align: right;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leaderboard-item {
  border-bottom: 0.5px solid #46557b;
}

.leaderboard-item:last-child{
  border-bottom: none;
}

.players-leaderboard {
  border-radius: 20px;
  border: 1px solid #f2f0f8;
  background: #fff;
  box-shadow: 0px 4px 4px 0px rgba(125, 135, 50, 0.1);

}

@media screen and (max-height: 730px) {
  .players-leaderboard{
    max-height: 70%;
  }
}
@media screen and (max-height: 600px) {
  .players-leaderboard{
    height: 40%;
  }
}

.leaderboard-tabs{
  border-radius: 10px;
  border: 1px solid #F2F0F8;
  background: #FFF;
}

.view-previus-txt {
  color: #4F5F90;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.leaderboard-tab-bg{
  width: 50%;
  height: 100%;
  background: #5690FF;
  position: absolute;
  left: 0;
  border-radius: 10px;
  transition: all .25s ease-in-out;
  z-index: 1;
}
.move-1{
  transform: translateX(100%);
}

.leaderboard-tab{
  border-radius: 10px;
  z-index: 2;
  cursor: pointer;
}

.leaderboard-tab-title{
  color: #AEB7D0;
}

.leaderboard-tab-title-active{
color: #fff !important;
}


.leaderboard-tooltip-content-wrapper {
  padding: 8px;
  border-radius: 10px;
  border: 1px solid #4f5f90;
  background: #fff;
  position: absolute;
  width: 350px;
  top: 30px;
  right: 0px;
  z-index: 5;
  pointer-events: none;
  opacity: 0;
  transition: all 0.25s;
}
.leaderboard-tooltip-content-wrapper span {
  color: #4f5f90;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.leaderboard-tooltip-active {
  pointer-events: auto;
  opacity: 1;
}